/*------------------VARIABLES--------------------------------------*/

:root {
    --color-primary: #D500C7;
    --color-secondary: #AB00FF;
    --color-tertiary: #00cc44;

    --color-dark-primary: #00010A;
    --color-dark-secondary: #05001E;
    --color-dark-tertiary: #1A1A1A;

    --color-light: #f1f1f1;

    --border-1: 2px solid #AB00FF;
    --border-2: 2px solid #D500C7;
}

/*---------------LOADER-------LOADING.IO/CSS-----------------------*/

.lds-default {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
}
  
.lds-default div {
    position: absolute;
    width: 6px;
    height: 6px;
    background: var(--color-secondary);
    border-radius: 50%;
    animation: lds-default 1.2s linear infinite;
}

.lds-default div:nth-child(1) {
    animation-delay: 0s;
    top: 37px;
    left: 66px;
}

.lds-default div:nth-child(2) {
    animation-delay: -0.1s;
    top: 22px;
    left: 62px;
}

.lds-default div:nth-child(3) {
    animation-delay: -0.2s;
    top: 11px;
    left: 52px;
}

.lds-default div:nth-child(4) {
    animation-delay: -0.3s;
    top: 7px;
    left: 37px;
}
  
.lds-default div:nth-child(5) {
    animation-delay: -0.4s;
    top: 11px;
    left: 22px;
}

.lds-default div:nth-child(6) {
    animation-delay: -0.5s;
    top: 22px;
    left: 11px;
}

.lds-default div:nth-child(7) {
    animation-delay: -0.6s;
    top: 37px;
    left: 7px;
}

.lds-default div:nth-child(8) {
    animation-delay: -0.7s;
    top: 52px;
    left: 11px;
}

.lds-default div:nth-child(9) {
    animation-delay: -0.8s;
    top: 62px;
    left: 22px;
}

.lds-default div:nth-child(10) {
    animation-delay: -0.9s;
    top: 66px;
    left: 37px;
}

.lds-default div:nth-child(11) {
    animation-delay: -1s;
    top: 62px;
    left: 52px;
}

.lds-default div:nth-child(12) {
    animation-delay: -1.1s;
    top: 52px;
    left: 62px;
}

@keyframes lds-default {
    0%, 20%, 80%, 100% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.5);
    }
}

/*-----------------GLOBAL-STYLES-----------------------------------*/

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

html {
    font-size: 62.5%; /*100/16=6.25 (1rem = 10px)*/
}

body {
    display: flex;
    flex-direction: column;
    background-color: var(--color-dark-primary);
    font-family: 'Roboto', sans-serif;
    color: var(--color-light);
}

main {
    flex: 1 0 auto;
}

footer {
    flex-shrink: 0;
}

a {
    display: inline-block;
    font-weight: 400;
    font-family: 'brandon-grotesque', sans-serif;
    text-decoration: none;
    cursor: pointer;
    text-transform: uppercase;
}

button {
    font-family: 'brandon-grotesque', sans-serif;
    text-transform: uppercase;
    font-weight: 500;
    border-style: none;
    border-radius: 10px;
    height: 45px;
    cursor: pointer;
}


/*-----------------TYPOGRAPHY----------------------------------------*/

.heading {
    font-family: 'brandon-grotesque', sans-serif;
    color: var(--white-color);
    text-transform: uppercase;
}

.heading--primary {
    font-size: 4rem;
    font-weight: 600;
    line-height: 4.5rem;
    margin-bottom: 1.2rem;
    text-align: center;
}

.heading--secondary {
    font-size: 3.6rem;
    text-align: center;
    margin-bottom: 3rem;
}

.heading--tertiary {
    font-size: 2.8rem;
}

.heading--quaternary {
    font-size: 2.4rem;
}

.heading--rockets {
    font-size: 3.2rem;
    text-align: center;
    font-weight: 600;
}

.text {
    font-size: 1.6rem;
    font-weight:  400;
    line-height: 2.3rem;
    max-width: 600px;
}

.text span {
    font-weight: 600;
}

.date {
    font-size: 2.2rem;
    margin: 1rem 0 2rem 0;
}

small {
    font-size: 1.2rem;
    margin: 1rem auto;
    max-width: 70rem;
}


/*-----------------BUTTONS-----------------------------------------*/

.btn {
    font-size: 1.6rem;
    color: var(--white-color);
}

.button, 
.button:link, 
.button:visited {
    background-color: var(--color-primary);
    color: var(--color-light);
}


.btn--link, 
.btn--link:link, 
.btn--link:visited {
    line-height: 3rem;
}


/*-----------------ICONS-------------------------------------------*/

.footer-icon__link,
.footer-icon__link:link,
.footer-icon__link:visited {
    font-size: 3.2rem;
    color: var(--color-light);
}

.fa-rocket {
    color: var(--color-tertiary);
    font-size: 2rem;
}


/*---------------ERROR-PAGE---------------*/
/*.error-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100vh;
}


/*-----------------HEADER/NAVIGATION-------------------------------*/

.nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    width: 100%;
}

.logo {
    font-family:'brandon-grotesque', sans-serif;
    font-weight: 800;
    font-size: 3.8rem;
    color: var(--color-light);
    margin-bottom: 1rem;
}

.logo span {
    color: var(--color-primary);
}

.nav__list {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.nav__item {
    text-align: center;
    list-style: none;
}

.nav__link,
.nav__link:link,
.nav__link:visited {
    font-family: 'brandon-grotesque', sans-serif;
    font-weight: 400;
    font-size: 2.2rem;
    color: var(--color-light);
    padding: .6rem 0;
    width: 100%;
}

.nav__link--active {
    background-color: var(--color-dark-secondary);
}

@media only screen and (min-width: 520px) {
   .nav__list {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    .nav__link,
    .nav__link:link,
    .nav__link:visited {
        padding: .5rem 1.5rem;
    }
}

@media only screen and (min-width: 800px) {
    .nav {
        flex-direction: row;
        justify-content: space-between;
    }

    .nav__list {
        width: fit-content;
    }
}

/*-----------------MAIN--------------------------------------------*/
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 90%;
    height: 100%;
    margin: 0 auto;
}

.section {
    margin: 10rem 0;
}

/*---------------HOME-PAGE---------------*/

.banner {
    background-image: linear-gradient(0deg, rgba(0, 0, 0, .65),
                        rgba(0, 0, 0, .65)), 
                        url('../images/astronaut-img-small.jpg');
    background-size: cover;
    width: 100%;
    height: 100vh;
}

@media only screen and (min-width: 700px) {
    .banner {
        background-image: linear-gradient(0deg, rgba(0, 0, 0, .65), 
                        rgba(0, 0, 0, .65)), 
                        url('../images/astronaut-img-large.jpg');
    }
}

.cards {
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

.card {
    display: flex;
    flex-direction: column;
}

.card.center {
    align-items: center;
}

.patch {
    width: 100%;
    max-width: 150px;
    height: auto;
    margin: 1.5rem;
}

.card__image {
    width: 100%;
    max-width: 500px;
    height: auto;
    margin-bottom: 1rem;
}

.card__details {
    display: flex;
    flex-direction: column;
}

.upcoming-launches, 
.past-launches {
    height: 650px;
    overflow-x: auto;
}

.launches-section div {
    max-width: 500px;
}

.launches-section {
    display: flex;
    flex-direction: column;
    align-items: center;
}


@media only screen and (min-width: 1000px) {
    .row {
        display: flex;
        justify-content: space-evenly;
        gap: 2rem;
        width: 100%;
        max-width: 1600px;
    }

    .cards {
        flex-direction: row;
        align-items: stretch;
    }

    .card-details--row {
        display: flex;
    }
}

/*-------FORM-------*/

.form__input {
    border-style: none;
    padding: 0 0.8rem;
    width: 100%;
    height: 45px;
    background-color: rgba(255, 255, 255, .7);
    margin-top: 1rem;
    margin-bottom: 1rem;
    border-radius: 10px;
}

.form__input::placeholder {
    color: var(--color-dark-tertiary);
    font-size: 1.6rem;
}

#message {
    font-family: 'Roboto', sans-serif;
    height: 150px;
}

.form-error {
    display: none;
    color: rgb(255, 53, 53);
    font-size: 1.6rem;
    padding-bottom: 1.5rem;
}

/*-------SUBSCRIBE-FORM-------*/

.subscribe-form {
    display: flex;
    flex-direction: column;
    margin: 4rem 0 6rem;
    width: 100%;
    max-width: 400px;
}




/*---------------ROCKETS-PAGE---------------*/

/*.rockets-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10rem 0;
}

.rockets-container {
    display: flex;
    flex-direction: column;
    margin-top: 3rem;
    width: 95%;
}

.rockets__details {
    margin-bottom: 3rem;
    border: var(--border-1);
}

.rockets__box {
    padding: 1.5rem;
    margin-top: 2rem;
}

.rockets__image {
    max-width: 100%;
    height: auto;
    margin-bottom: 1rem;
}


/*---------------CONTACT-PAGE---------------*/

/*-------CONTACT-FORM-------*/
/*.contact-section {
    display: flex;
    flex-direction: column;
    margin: 10rem 1rem;
}

.contact-form-container {
    padding-bottom: 6rem;
}

.contact-form__box {
    max-width: 600px;
    margin: 4rem auto;
}

.contact-form__box label {
    font-size: 1.8rem;
}

.contact-form__details span {
    display: inline-block;
    font-size: 1.6rem;
    font-style: italic;
}

#submit-message {
    display: none;
    font-size: 2rem;
    margin: 3rem auto 0;
    color: var(--green-color);
}





/*-------CONTACT-INFO-------*/

/*.contact-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contact__details {
    padding-bottom: 1.5rem;
    width: 260px;
}

.contact__links,
.contact__links:link,
.contact__links:visited {
    color: var(--white-color);
    font-size: 1.8rem;
}


/*-------CAREER-------*/

/*.career-section {
    margin-bottom: 10rem;
}

.career-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.career__text {
    font-size: 1.8rem;
    line-height: 2.2rem;
    padding: 1rem 1.5rem;
    margin-bottom: 1rem;
    max-width: 542px;
}

.career-img-container {
    display: none;
}


/*-----------------FOOTER------------------------------------------*/

.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 1rem;
    background-color: var(--color-dark-secondary);
}

.logo--footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 1500px;
}

.logo--footer::before,
.logo--footer::after {
    content: "";
    background-color: var(--color-light);
    height: 1px;
    width: 100%;
}

.logo--footer::before {
    margin-right: 1rem;
}

.logo--footer::after {
    margin-left: 1rem;
}

/*-------FOOTER-NAV-------*/

.footer-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 1500px;
}

.footer-nav {
    margin: 3rem 0;
}

.footer-nav__item {
    list-style: none;
    padding: 1.5rem 0;
    border-bottom: 1px solid rgba(255, 255, 255, .5);
}


.footer-nav__link,
.footer-nav__link:link,
.footer-nav__link:visited {
    color: var(--color-light);
    font-size: 2rem;
}


/*-------FOOTER-ICONS-------*/

.footer-icon {
    padding: 3rem 0;
}

.footer-icon__list {
    display: flex;
    flex-direction: row;
    list-style: none;
    flex-wrap: wrap;
}

.footer-icon__item:not(:last-child) {
    margin-right: 2.5rem;
}


@media only screen and (min-width: 650px) {
    .footer-container {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    .footer-nav {
        flex: .5;
    }
}

@media only screen and (min-width: 1200px) {
    .footer-nav__list {
        display: flex;
        flex-direction: row;
    }

    .footer-nav__item {
    padding: 0;
    margin-right: 2.5rem;
    border-bottom: none;
}
}




/*@media only screen and (min-width: 480px) {
    /*-------LAUNCHES-PAGE-------*/

/*    .launch-next__box {
        display: flex;
        flex-direction: row;
    }

    .mission-patch {
        width: 15rem;
        height: 15rem;
    }

    .launches__details--row {
        display: flex;
        flex-direction: row;
    }

    .launches__patch {
        display: flex;
        margin: auto;
    }
    
    .launches__links {
        display: flex;
        justify-content: flex-end;
        margin-top: 2rem;
    }
}


/*@media only screen and (min-width: 700px) {

    /*-------BUTTONS-HOVER:/ACTIVE:-------*/

/*    .btn:hover {
        background-color: transparent;
        border: var(--border-2);
        transition: .5s;
    }

    .btn:active {
        outline: none;
        color: var(--pink-color);
    } 

    .btn--border:hover {
        background-color: var(--pink-color);
        transition: .5s;
    }

    .btn--border:active {
        outline: none;
        color: var(--dark-color-1);
    }

    .btn-link:hover, 
    .navigation__link:hover,
    .footer-navigation__link:hover,
    .footer-icon__link:hover,
    .api-info__links a:hover,
    .contact__links:hover {
        color: var(--pink-color);
        transition: .5s;
    }

    .btn-link:active, 
    .navigation__link:active,
    .footer-navigation__link:active,
    .footer-icon__link:active,
    .api-info__links a:active,
    .contact__links:active {
        color: var(--pink-color--faded);
    }


    /*-------HOME-PAGE-------*/

/*    .banner-section {
        background-image: linear-gradient(0deg, rgba(0, 0, 0, .65), 
                        rgba(0, 0, 0, .65)), 
                        url('../images/astronaut-img-large.jpg');
    }

    .next-launch-container {
        border: var(--border-1);
        flex-direction: row;
        justify-content: space-evenly;
        margin: 8rem 0;
        width: 97%;
    }


    /*-------LAUNCHES-PAGE-------*/

/*    .launches__heading {
        flex-direction: row;
        justify-content: space-between;
    }

    .launches__patch {
        margin: 0 auto;
        padding: 1rem;
    }

    .api-info__text--hidden {
        display: inline-block;
        max-width: 50rem;
    }
    

    /*-------CONTACT-PAGE-------*/

/*    .career-section {
        padding-bottom: 40%;
    }

    .career-img-container {
        display: flex;
        position: relative;
        margin: 7rem auto 0;
        max-width: 900px;
    }
    
    .career__image {
        max-width: 45%;
        height: auto;
        position: absolute;
        border: var(--border-1);
        transition: all .6s;
    }
    
    .career__image--1 {
        left: 3%;
        top: 0;
    }
    
    .career__image--2 {
        left: 25%;
        top: 10rem;
    }
    
    .career__image--3 {
        right: 3%;
        top: 0;
    }

    .career__image--1:hover,
    .career__image--2:hover,
    .career__image--3:hover {
        z-index: 999;
        transform: scale(1.1) translateY(-1.5rem);
    }
}


@media only screen and (min-width: 730px) {

    /*-------ROCKET-PAGE-------*/

/*    .rockets-container {
        flex-direction: row;
        justify-content: space-evenly;
        flex-wrap: wrap;
        width: 100%;
    }

    .rockets__image {
        height: 30rem;
        width: 36rem;
    }
}


@media only screen and (min-width: 850px) {

    /*-------HOME-PAGE-------*/
    /*-------LINK-SECTION-------*/

/*    .link-section {
        margin: 0 1rem;
    }

    .link-container {
        flex-direction: row;
    }

    .link__details {
        border: var(--border-1);
        max-width: 400px;
        padding-bottom: 7rem;
    }

    .link__details:not(:last-child) {
        margin-right: 1rem;
    }

    .link__image {
        display: none;
    }

    .link__photo {
        display: flex;
        min-height: 200px;
        max-width: 100%;
    }

    .link__text-box {
        padding: 1rem 1.5rem 2rem;
    }
}


@media only screen and (min-width: 950px) {

    /*-------LAUNCHES-PAGE-------*/

/*    .launches-section {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    .launches-container {
        margin: 3rem 1rem;
    }


    /*-------ROCKETS-PAGE-------*/

/*    .rockets__image {
        height: 40rem;
        width: 45rem;
    }


    /*-------CONTACT-PAGE-------*/

/*    .contact-section {
        flex-direction: row;
        align-items: center;
    }

    .contact-container {
        order: 1;
        width: 100%;
    }

    .contact-form-container {
        order: 2;
        width: 100%;
    }

    .career-section {
        padding-bottom: 35rem;
    }

}


/*@media only screen and (min-width: 1250px) {

    .launch-next-section {
        width: 1000px;
        margin: 10rem auto;
    }

    .next-launch-container {
        width: 1220px;
    }

}